.*.swp
.venv
Pipfile.lock

# satisfy parsing in XMOS source check based on regular expressions
# (normal parsing is based on shell wildcards)
*/.venv*
*/build/*
*/CMakeFiles/*
CMakeFiles
CMakeCache.txt
cmake_install.cmake
__pycache__
